@font-face {
  font-family: "Star Jedi";
  font-style: normal;
  font-weight: 400;
  src: local("Star Jedi"),
    url("./fonts/SfDistantGalaxy-0l3d.ttf") format("truetype");
}
@font-face {
  font-family: "Anakin";
  font-style: normal;
  font-weight: 400;
  src: local("Anakin"), url("./fonts/anakinmono.ttf") format("truetype");
}
@font-face {
  font-family: "Random Star Wars";
  font-style: normal;
  font-weight: 400;
  src: local("Random Star Wars"), url("./fonts/StarWars.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
